# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: 127.0.0.1
    database_port: ~
    database_name: symfony
    database_user: root
    database_password: ~
    # You should uncomment this if you want to use pdo_sqlite
    #database_path: '%kernel.project_dir%/var/data/data.sqlite'

    mailer_transport: smtp
    mailer_host: smtp.mailgun.org
    mailer_port: 587
    mailer_encryption: tls # TLS encryption is required
    mailer_user: 'postmaster@baner.su'
    mailer_password: '6ee79c1db9dca1399105d216aec266f3'

    # A secret key that's used to generate certain security-related tokens
    secret: ThisTokenIsNotSoSecretChangeIt

    # Crypt currency rate api
    crypt_cr_api_url: https://api.coinmarketcap.com/v1/

    # Currency rate api
    cr_api_url: https://api.fixer.io/

    # Current price for BNR
    bnr_price: 10.0
    # BNR wallet address(base58)
    bnr_wallet: asdkfjlkasdjfaklsdjfasdjfkl

    # Waves Node
#    node_api_key: '2EVfAAxNyfFTZ2MBKFKw7'
    node_api_key: '123456'
   # node_api_url: 'http://176.9.63.48:6869/'
    node_api_url: 'http://78.155.199.146:6869/'

    # Dates
    current_day: 25