{% extends "@FOSUser/layout.html.twig" %}


{% block fos_user_content %}
    <!-- Register panel-->
    <section class="panel panel-form">
        <h2 class="panel-title">{{ 'layout.confirmation'| trans }}</h2>
        <div class="panel-body panel-form-body">
            <div class="register-confirm">
                <img class="icon" src="/img/success.svg">
                <div class="title">{{ 'layout.confirm_done'| trans }}</div>
                <p class="desc">{{ 'layout.confirm_trans_in_mail'| trans }}</p>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}


