{% extends "@FOSUser/layout.html.twig" %}

{% block fos_user_content %}
    <!-- Register panel-->
    <section class="panel panel-form">
        <h2 class="panel-title">Подтверждение</h2>
        <div class="panel-body panel-form-body">
            <div class="register-confirm"><img class="icon" src="/img/success.svg">
                <div class="title">Почти готово!</div>
                <p class="desc">Пожалуйста, проверьте входящие в вашем почтовом ящике, чтобы завершить регистрацию</p>
            </div>
        </div>
    </section>
{% endblock fos_user_content %}
