{#
{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <!-- Register panel-->
    <section class="panel panel-form">
        <h2 class="panel-title">{{ 'layout.restore'| trans }}</h2>

          <div class="panel-body panel-form-body">
              <div>11212</div>
          </div>
    </section>
{% endblock %}
#}