{% extends ":AppBundle:layout.html.twig" %}

{% block title %}AppBundle:TransactionHistory:index{% endblock %}

{% block content %}
    <!-- Content-->
    <div class="content-block">

        <!-- Col content-->
        <div class="content content-lg">
            <section class="panel panel-history">
                <h2 class="panel-title">История транзакций</h2>
                <div class="panel-body history-start">
                    <div class="desc">Тут будут показываться
                        <br>ваши транзакции</div>
                    <button class="btn blue open-popup" data-name="invest">Провести первую транзакцию</button>
                </div>
            </section>
        </div>

        <!-- Col content-->
        <div class="content content-lg">
            <section class="panel panel-history">
                <h2 class="panel-title">История транзакций</h2>
                <div class="panel-body history-table">
                    <div class="history-row history-row-head">
                        <div class="history-cell">Дата</div>
                        <div class="history-cell">Описание</div>
                        <div class="history-cell">Статус</div>
                        <div class="history-cell">Сумма</div>
                    </div>
                    <div class="history-row">
                        <div class="history-cell cell-date">12 Jun 16:52</div>
                        <div class="history-cell cell-desc">Converting 0.000000 BTC to 2.438626 PLBT</div>
                        <div class="history-cell cell-status recelved">Recelved</div>
                        <div class="history-cell cell-amount">+2.43862624386268626 PL…</div>
                    </div>
                    <div class="history-row">
                        <div class="history-cell cell-date">12 Jun 16:52</div>
                        <div class="history-cell cell-desc">Converting 0.000000 BTC to 2.438626 PLBTConverting 0.000000 BTC</div>
                        <div class="history-cell cell-status expired">Expired</div>
                        <div class="history-cell cell-amount">+1.15 PLBT</div>
                    </div>
                    <div class="history-row">
                        <div class="history-cell cell-date">12 Jun 16:52</div>
                        <div class="history-cell cell-desc">Converting 0.000000 BTC to 2.438626 PLBT</div>
                        <div class="history-cell cell-status copleted">Copleted</div>
                        <div class="history-cell cell-amount">+1.15 PLBT</div>
                    </div>
                </div>
            </section>
        </div>

        <!-- Col content-->
        <div class="content content-lg">
            <!-- Footer-->
            <footer class="main-footer">
                <p class="copyright">© 2017 BANER. All rights reserved</p>
                <p class="feedback">Возникли вопросы? Пожалуйста, свяжитесь с нами по support@baner.su
                    <br>
                </p>
            </footer>
        </div>
    </div>

    <!-- Popup invest-->
    <div class="overlay popup-overlay">
      <div class="popup popup-invest" data-name="invest"><i class="popup-close"></i>
        <h2 class="pp-title">Как инвестировать?</h2>
      </div>
    </div>
{% endblock %}
